html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    text-align: center;
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-size: 2em;
}

header h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 0.5em 0 0;
}

.start,
.game-over {
    margin: 1em 0;
    padding-top: 1em;
    width: 550px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-over img {
    width: 75px;
    height: auto;
}
.new-game {
    padding: 1em 2em;
    color: black;
    background-color: white ;
    border: 2px solid black;
    flex-grow: 1;
    margin: 2em;
    align-self: flex-end;
}

.new-game:hover {
    color: white;
    background-color: black;  
}

.game-over {
    display: none;
    flex-flow: column wrap;
    
}


/*
 * Styles for the Score Panel
 */

.score-panel {
    width: 500px;
    display: none;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -50px;
}

.score-panel .stars {
    width: 200px;
}

.score-panel .stars img {
    width: 40px;
    height: auto;
}

.score-panel .score {
    width: 50px;
}

.score-panel .lives {
    width: 200px;
    font-size: 0.75em;
}

.score-panel .lives img {
    width: 40px;
    height: auto;
}